* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  min-height: 100vh;
  background: rgb(135, 200, 35);
  background: linear-gradient(
    45deg,
    rgba(135, 200, 35, 1) 0%,
    rgba(36, 167, 139, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
